{
  "presets": [
    ["env", { "modules": false }],
    "stage-3",
    "es2015"
    ],
  "comments": false,
  "env": {
    "development": {
      "plugins": [
        ["babel-plugin-webpack-alias", { "config": "./webpack/index.babel.js" } ],
        "syntax-dynamic-import",
        "transform-runtime",
        "transform-object-rest-spread"
      ]
    },
    "production": {
      "plugins": [
        ["babel-plugin-webpack-alias", { "config": "./webpack/index.babel.js" } ],
        "syntax-dynamic-import"
      ]
    }
  }
}
