{
  "presets": [
    [ "env", { "targets": {"node": true}}],
    "latest"
    ],
  "env": {
    "development": {
      "plugins": [
        "transform-runtime",
        ["babel-plugin-webpack-alias", { "config": "./webpack/index.babel.js" } ],
        "syntax-dynamic-import"
      ]
    },
    "production": {
      "plugins": [
        "transform-runtime",
        ["babel-plugin-webpack-alias", { "config": "./webpack/index.babel.js" } ],
        "syntax-dynamic-import"
      ]
    }
  }
}
