{
  "include": [
    "src/**/*.vue"
  ],
  "exclude": [
    "node_modules/",
    "dist",
    "webpack",
    "**/**.spec.js",
    "src/base/conf",
    "src/base/wp-plugins"
  ],
  "extension": [
    ".js"
  ],
  "require": [
    "babel-core/register"
  ],
  "reporter": [
    "text",
    "text-summary",
    "html"
  ],
  "all": true,
  "sourceMap": true,
  "instrument": true
}